
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body, html{
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
}

.prem{
  background-color: #C87A07;
  width: 110px;
  height: 18px;
}

.prem-cover{
  background-color: #FF9900;
  width: 25px;
  height: 18px;
}